<<<<<<< HEAD

body{
    overflow-x: hidden !important;
}

.navbar a {
  
  transition: color 0.2s ease !important;
}

.navbar a:hover {
  color: rgba(124, 78, 228, 1) !important; /* hover color */
}


.contactus {
    background-color: rgba(124, 78, 228, 1);
}

.home-sec{
    background-color: rgba(124, 78, 228, 1);
    color: white;
}

.content-section p{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
}


.readmore{
    background-color: white;
    color: black;

}


.recent-sec {
   gap: 40%;
}

.viewall{
    background-color: rgba(124, 78, 228, 1);
}

.develop-sec h6{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  
}

.story-row{
    margin-left: -50px;
}

.card-body h6{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
}

.btn {
   background-color: rgba(124, 78, 228, 1);
}

.Popular-sec{
   gap: 45%;
}
=======


.navbar a {
  
  transition: color 0.2s ease !important;
}

.navbar a:hover {
  color: rgba(124, 78, 228, 1) !important; /* hover color */
}


.contactus {
    background-color: rgba(124, 78, 228, 1);
}

.home-sec{
    background-color: rgba(124, 78, 228, 1);
    color: white;
}

.content-section p{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
}


.readmore{
    background-color: white;
    color: black;

}


.recent-sec {
   gap: 40%;
}

.viewall{
    background-color: rgba(124, 78, 228, 1);
}

.develop-sec h6{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  
}

>>>>>>> 9f29c2212ddc1a79a5a52da99a7f6af042cf14a6
