

.navbar a {
  
  transition: color 0.2s ease !important;
}

.navbar a:hover {
  color: rgba(124, 78, 228, 1) !important; /* hover color */
}


.contactus {
    background-color: rgba(124, 78, 228, 1);
}

.home-sec{
    background-color: rgba(124, 78, 228, 1);
    color: white;
}

.content-section p{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
}


.readmore{
    background-color: white;
    color: black;

}


.recent-sec {
   gap: 40%;
}

.viewall{
    background-color: rgba(124, 78, 228, 1);
}

.develop-sec h6{
  font-family: system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 12px !important;
  
}

